* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  height: 100vw;
}

.border-hr {
  height: 1px;
  border: 2px solid rgba(224, 152, 0, 0.8117647059) 52% 52%;
  margin: 2rem auto;
}
@media only screen and (min-width: 900px) {
  .border-hr {
    width: 80%;
  }
}

/*<-----header starts----->*/
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  background: rgba(224, 152, 0, 0.8117647059) 52% 52%;
  z-index: 100;
  padding-inline: 15px;
}
.header-container .nav-side {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}
.header-container .nav-side .icon img {
  width: 3rem;
  height: 3rem;
}
.header-container #burger {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  transition: 1s;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
}
.header-container #quit {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  padding: 6px;
  display: none;
  cursor: pointer;
  z-index: 100;
  color: #ffff00;
}
.header-container #links {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding: 10px;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 10;
  background: rgba(224, 153, 0, 0.9529411765);
  border-radius: 0 0 50px 5px;
  position: absolute;
  margin-top: 5rem;
  margin-inline-start: -2rem;
}
.header-container #links a {
  text-align: center;
  color: #000;
  font-size: 2em;
  font-family: "Roboto";
  text-decoration: none;
}
.header-container #links a:hover {
  text-decoration: 2px solid underline #000;
  transform: scale(1.1);
}
@media only screen and (min-width: 700px) {
  .header-container .header-container {
    max-width: 80%;
  }
  .header-container #burger,
  .header-container #quit {
    display: none !important;
  }
  .header-container #links {
    display: flex !important;
    position: revert !important;
    background: none;
    margin: 0 auto;
    flex-direction: row;
    width: 35vw;
    justify-content: space-between;
    align-items: center;
    height: auto;
    font-size: 1rem;
    font-weight: 600;
    gap: 1rem;
  }
  .header-container .brand {
    font-size: 2rem;
  }
}

/*<-----header ends----->*/
/*<-----hero starts----->*/
.hero-section {
  background: linear-gradient(to bottom, #ff0 -17% -17%, -10%, rgba(224, 152, 0, 0.8117647059) 52% 52%);
  color: #FFF;
  text-align: center;
}
.hero-section h1 {
  font-size: 3rem;
  padding: 1rem;
}
.hero-section h3 {
  font-size: 2.5rem;
}
.hero-section p {
  font-size: 2rem;
}
.hero-section h3,
.hero-section p {
  color: #000;
  padding: 0 1rem;
}
.hero-section .book-btn {
  background: linear-gradient(to right, #ff0 -17% -17%, -10%, rgba(224, 152, 0, 0.8117647059) 52% 52%);
  color: #FFF;
  border: none;
  border-radius: 50px;
  width: 10rem;
  height: 3rem;
  margin: 2rem auto;
  cursor: pointer;
}
.hero-section .book-btn:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
.hero-section .home-img img {
  width: 100%;
  height: 30rem;
}
@media only screen and (min-width: 700px) {
  .hero-section .hero-text {
    max-width: 50vw;
    margin: 0 auto;
  }
  .hero-section h1 {
    font-size: 5rem;
  }
  .hero-section .home-img img {
    height: 80vh;
    border-radius: 1rem;
  }
}

/*<-----hero ends----->*/
/*<-----bookings starts----->*/
.bookings-container {
  text-align: center;
}
.bookings-container .bookings-header {
  margin: 1rem auto;
}
.bookings-container .bookings-header h2 {
  font-size: 2rem;
}
.bookings-container .bookings-header p {
  font-size: 1.5rem;
}
.bookings-container .form-grid {
  margin: 2rem auto;
  gap: 1rem;
}
.bookings-container .form-grid .input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem auto;
}
.bookings-container .form-grid .input label {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.2rem;
}
.bookings-container .form-grid .input input {
  width: 20rem;
  border-radius: 5rem;
  border: none;
  background-color: #b8b8b8;
  padding: 1rem;
  border-bottom: 0.5rem;
  height: 3rem;
  transition: 0.3s;
  outline: none;
}
.bookings-container .form-grid .input input:focus {
  border: 1px solid rgba(224, 153, 0, 0.9529411765);
}
.bookings-container .form-btn {
  background: linear-gradient(to right, #ff0 -17% -17%, -10%, rgba(224, 152, 0, 0.8117647059) 52% 52%);
  color: #FFF;
  border: none;
  border-radius: 50px;
  width: 10rem;
  height: 3rem;
  margin: 2rem auto;
  cursor: pointer;
  margin: 0 auto;
}
.bookings-container .form-btn:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
@media only screen and (min-width: 700px) {
  .bookings-container {
    margin: 2rem auto;
  }
  .bookings-container .bookings-header h2 {
    font-size: 3.5rem;
  }
  .bookings-container .bookings-header p {
    font-size: 2rem;
  }
  .bookings-container .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: center;
    gap: 2rem;
  }
}

/*<-----bookings ends----->*/
/*<-----packages starts----->*/
.packages-container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.packages-container .packages-header h2 {
  font-size: 2rem;
}
.packages-container .packages-header p {
  font-size: 1.5rem;
}
.packages-container .box .box-img {
  position: relative;
  margin: 1rem;
}
.packages-container .box h2 {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 2.5rem;
}
.packages-container .box .price {
  background: rgba(184, 184, 184, 0.5058823529);
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 30%;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.packages-container .box .pkg-btn {
  position: absolute;
  bottom: 0;
  left: 35%;
  background: linear-gradient(to right, #ff0 -17% -17%, -10%, rgba(224, 152, 0, 0.8117647059) 52% 52%);
  color: #FFF;
  border: none;
  border-radius: 50px;
  width: 10rem;
  height: 3rem;
  margin: 2rem auto;
  cursor: pointer;
}
.packages-container .box .pkg-btn:hover {
  transition: 0.2s;
  transform: scale(1.1);
}
@media only screen and (min-width: 700px) {
  .packages-container .packages-header h2 {
    font-size: 3.5rem;
  }
  .packages-container .packages-header p {
    font-size: 2rem;
  }
  .packages-container .packages-grid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    justify-content: center;
    gap: 2rem;
  }
  .packages-container .packages-grid .box {
    height: 25rem;
  }
  .packages-container .packages-grid .box .box-img {
    height: 100%;
  }
  .packages-container .packages-grid .box .box-img img {
    width: 100%;
    height: 100%;
  }
  .packages-container .packages-grid .box .price {
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 1020px) {
  .packages-container .packages-grid {
    display: grid;
    grid-template-columns: repeat(3, 30rem);
  }
}

/*<-----packages ends----->*/
/*<-----about starts----->*/
.about-container {
  margin: 2rem auto;
  text-align: center;
  background: linear-gradient(to top, #ff0 -17% -17%, -10%, rgba(224, 152, 0, 0.8117647059) 52% 52%);
}
.about-container .about-header {
  font-size: 2.5rem;
}
.about-container .about-img {
  position: relative;
  margin: 2rem auto;
}
.about-container .about-img img {
  width: 100%;
  height: 40rem;
}
.about-container .about-img .div-p {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4039215686);
  color: #FFF;
  font-size: 2rem;
}
@media only screen and (min-width: 700px) {
  .about-container .about-header {
    font-size: 3.5rem;
  }
  .about-container .about-img img {
    border-radius: 0.5rem;
    height: 50rem;
  }
  .about-container .about-img .div-p {
    padding: 8rem;
    font-size: 2.5rem;
  }
}

/*<-----about ends----->*/
/*<-----customer-review starts----->*/
.customer-container {
  margin: 2rem auto;
  text-align: center;
}
.customer-container .customer-header h2 {
  font-size: 2rem;
}
.customer-container .customer-header p {
  font-size: 1.5rem;
}
.customer-container .customer-review-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
}
.customer-container .customer-review-flex .customer-box {
  padding: 1rem;
}
.customer-container .customer-review-flex .customer-box .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.customer-container .customer-review-flex .customer-box .info-container img {
  width: 10rem;
  border-radius: 0 2rem;
}
.customer-container .customer-review-flex .customer-box .info-container .customer-info {
  text-align: left;
  font-size: 2rem;
}
.customer-container .customer-review-flex .customer-box .customer-review {
  font-size: 2rem;
  padding: 2rem;
}
.customer-container .arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #ff0 -17% -17%, -10%, rgba(224, 152, 0, 0.8117647059) 52% 52%);
  color: #FFF;
}
.customer-container .arrow-btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.customer-container .arrow-btn:nth-child(1) {
  background: #000;
}
@media only screen and (min-width: 700px) {
  .customer-container .customer-header h2 {
    font-size: 3.5rem;
  }
  .customer-container .customer-header p {
    font-size: 2rem;
  }
  .customer-container .customer-review-flex {
    flex-direction: row;
  }
  .customer-container .customer-review-flex .customer-box .customer-review {
    text-align: left;
  }
}
@media only screen and (min-width: 700px) {
  .customer-container .customer-review-flex {
    max-width: 70%;
  }
}

/*<-----customer-review ends----->*/
/*<-----footer starts----->*/
.footer-container {
  background: linear-gradient(to bottom, #ff0 -17% -17%, -10%, rgba(224, 152, 0, 0.8117647059) 52% 52%);
}
.footer-container .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem auto;
  padding: 1rem;
  gap: 2rem;
}
.footer-container .footer-content .footer-icon {
  text-align: center;
  color: #FFF;
}
.footer-container .footer-content .footer-icon img {
  width: 4rem;
  height: 4rem;
}
.footer-container .footer-content .footer-box {
  font-size: 1.5rem;
}
.footer-container .footer-content .footer-box h3 {
  color: #FFF;
}
.footer-container .footer-content .social-link .social-icons {
  display: flex;
  gap: 2rem;
}
.footer-container .footer-content .social-link .social-icons a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 2.5rem;
  color: inherit;
}
.footer-container .footer-content .footer-link ul {
  list-style-type: none;
}
.footer-container .footer-content .footer-link ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.footer-container .legal {
  text-align: center;
  font-size: 1.5rem;
}
.footer-container .legal a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
}
@media only screen and (min-width: 700px) {
  .footer-container {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .footer-container .footer-content {
    max-width: 70%;
    padding: 2rem 3rem;
  }
}
@media only screen and (min-width: 1020px) {
  .footer-container .footer-content {
    max-width: 90%;
    padding: 2rem 3rem;
  }
}

/*<-----footer ends----->*/

/*# sourceMappingURL=styles.css.map */
