@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  /*background: #f7f6f6;*/
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}



/*<-----header starts----->*/
header {
  width: 100%;
  position: sticky;
  top: 0;
  height: 8vh;
  background: #e09800cf 52% 52%;
  color: yellow;
  z-index: 100;
  padding-inline: 15px;
}

.nav-side {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-weight: 800;
  letter-spacing: 2px;
}

#burger {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
  transition: 1s;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
}

#quit {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
  padding: 16px;
  display: none;
  cursor: pointer;
  z-index: 10;
}

#links {
  display: none;
  flex-direction: column;
  width: 30vh;
  height: 50vh;
  padding: 25vh 0;
  justify-content: space-around;
  z-index: 10;
  background: linear-gradient(to bottom, #ff0 -17% -17%, -10%, #e09800cf 52% 52%);
  border-radius: 0 0 50px 5px;
  /* margin-left: 10px; */
}

#links a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-family: 'Roboto';
  z-index: 10;
}

header img {
  width: auto;
  height: 50px;
}

/*<-----header ends----->*/

/*<-----home starts----->*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.container {
  max-width: 80%;
  margin: auto;
}

.home img {
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

.home button {
  outline: none;
  background: none;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  color: black;
  padding: 15px 40px;
  border-radius: 50px;
  text-transform: capitalize;
  cursor: pointer;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.background {
  color: white;
  background:#e09800cf 52% 52%;

}

.home .text {
  padding-top: 10%;
  max-width: 70%;
  margin: auto;
}

.home h1 {
  font-size: 50px;
  text-transform: capitalize;
  color: white;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.home h3 {
  font-size: 30px;
  color: #000;
}

.home p {
  font-size: 15px;
  color: #000;
}

.home-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100vw;
}

/*<-----home ends----->*/

/*<-----bookings starts----->*/
.heading {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 50px;
}

.heading h2 {
  font-size: 30px;
  text-transform: capitalize;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

form {
  margin: auto;
  padding: 50px;
  z-index: 111;
  background: white;
  margin-bottom: 50px;
}

input {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

.input {
  text-align: left;
  margin-bottom: 20px;
}

.btn1 {
  padding: 15px 60px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, #ff0 -17% -17%, -10%, #e09800cf 52% 52%);
  cursor: pointer;
  border: none;
}

.book .btn1 {
  margin: 0;
  border-radius: 50px;
}

/*<-----book----->*/

/*<-----packages----->*/
.packages .items {
  grid-gap: 30px;
}

.packages .box {
  padding: 20px;
  position: relative;
}

.packages .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.packages h3 {
  margin-top: 30px;
}

.packages .price {
  background: white;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

.packages button {
  background: linear-gradient(to right, #ff0 -17% -17%, -10%, #e09800cf 52% 52%);;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 30px;
}

/*<-----end packages----->*/

/*<-----about start----->*/
.about-img img {
  height: 80vh;
  width: 100vw;
}

.about-img::after {
  content: '';
  position: absolute;
  background-size: cover;
  height: 300px;
  left: 0;
  top: 0;
}

/*<-----about end----->*/

/*<-----customer starts----->*/
.customer img {
  width: 80px;
  border-radius: 0 20px 0 20px;
  margin-right: 20px
}

.customer h3 {
  margin-top: 30px;
}

.customer p {
  line-height: 22px;
}

.customer-box {
  padding: 30px;
  margin: 30px;
}

.customer .btn1 {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  border: none;
}

.customer .btn1:nth-child(1) {
  background: black;
}

/*<-----customer ends----->*/

/*<-----footer starts----->*/
footer {
  color: #fff;
  background: linear-gradient(to right, #ff0 -17% -17%, -10%, #e09800cf 52% 52%);
}

footer .content {
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
}

footer ul {
  list-style: none;
}

footer h3 {
  margin-bottom: 30px;
}

footer li {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.contact {
  margin-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.contact i {
  margin-left: 10px;
  margin-bottom: 30px;
}

.contact label {
  margin-left: 20px;
  cursor: pointer;
}

footer .box {
  margin-top: 40px;
}

.legal{
  margin: 0 auto;
  /* padding: 20px; */
  font-size: 12px;
  text-align: center;
}

.legal a {
  text-decoration: none;
  color: #FFF;
}

/*------footer----------*/
@media only screen and (max-width: 768px) {
  #quit {
    width: 70vh;
  }

  #links {
    width: 70vh;
  }

  header {
    padding: 0 50px 0;
  }

  .home-img::after {
    height: 400px;
    width: 800px;
    left: -50px;
  }

  .home img {
    height: 50vh;
  }

  /*<-----home ends----->*/

  /*<-----book starts----->*/
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /*<-----book----->*/

  /*<-----packages----->*/
  /* .packages .items {
    grid-gap: 30px;
  }

  .packages .box {
    padding: 20px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.025);
    position: relative;
  }

  .packages .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .packages h3 {
    margin-top: 30px;
  }

  .packages .price {
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .packages button {
    background: linear-gradient(to right, #ff0 -17% -17%, -10%, #e09800cf 52% 52%);
    color: white;
  } */

  /*<-----packages end----->*/

  /*<-----about starts----->*/
  .about-img {
    position: relative;
  }

  .about-img img {
    height: 60vh;
  }

  .about-img::after {
    width: 700px;
    height: 300px;
    left: 0%;
  }

  /*<-----about ends----->*/

  /*<-----customer starts----->*/
  .customer .items {
    flex-direction: column;
  }

  /*<-----customer ends----->*/

  /*<-----footer starts----->*/
  footer .content {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .box {
    text-align: left;
  }
}